body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* width: 100%; */
}
.container{
    display: flex;
    flex-direction: column;
    /* margin: 0px auto; */
    /* width : auto; */
}
.upper-section{
    background-image: url("/Assets/hero-banner.jpg");
    display: flex;
    flex-direction: column;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}
.nav-bar div{
 margin-left: 1.5em;   
}
.nav-right{
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
    font-size:13px;
    text-align: center;
}
.items{
    /* margin-left: 40px; */
    /* justify-content: space-between; */
}
.top-central-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}
.star-wars{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.star, .wars {
    flex: 1;
    display: flex;
    justify-content: center;
  }
.wars{
    /* margin-top: 0.5em; */
margin: -5px;
}
#wars{
    /* margin-top: 0.3em; */
margin: -5px;
}
#force-awaken{
    color: aliceblue;
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 5px;
    position: relative;
    top: -14px;
}
.lower-section{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red !important; */
}
.card-container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red !important; */
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.3%;
    margin: 0.5em 1.5em;
    padding-bottom: 0.5em;
    text-align: left;
}
/* .upper-card{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
} */
.heading{
    font-size: 22px;
    font-weight: bolder;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.upper-card{
    /* border: 2px solid red; */
}
.card-image{
    width: 100%;
}
.card-title {
}
.card-title p{
    margin-top: 0px;
    font-size: 14px;
}
.card-write-ups{
font-size: 14px;
}
.card-write-ups p{
    margin-top: 0;
}
.card-button{
    margin-top: 0.5em;
}
.card-btn{
    padding: 0.3em;
    font-size: 11px;
}
